aclocal.m4
autom4te.cache
config.log
config.status
configure
dependencies
dependencies.bak
Makefile
rosegarden
.cproject
.project
.settings
.svn
*.moc
*.o
src/gui/dialogs/RosegardenTransportUi.h
src/gui/studio/DeviceManagerDialogUi.h
data/data.cpp

