aclocal.m4
autom4te.cache
build
config.log
config.status
configure
dependencies
dependencies.bak
Makefile
rosegarden
.cproject
.project
.settings
.svn
*.moc
*.o
*.qm
src/gui/dialogs/RosegardenTransportUi.h
src/gui/studio/DeviceManagerDialogUi.h
data/AutoloadStrings.cpp
data/InstrumentStrings.cpp
data/QMenuStrings.cpp

